.verboverse {
  position: absolute;
  width: 35vw;
  height: 35vw;
  left: 50%;
  margin: auto;
  transform: translate(-50%, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("./media/verboverse.png");
}

.button_display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 35vw;
  height: 10vw;
}
